:root {
  --main-purple: #b73deb;
  --light-grey: #c1c2c2;
  --medium-grey: #444648;
  --dark-grey: #102021;

  background-color: var(--medium-grey);
}

body {
  margin: 0;
}

/* Large+ Screens, Greetings Section */
.navBar {
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 95%;
  height: 10vh;
  background-color: var(--dark-grey);
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.navBarLink {
  text-decoration: none;
}
.navBarButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 0 15px;
}

.navBarButton:hover {
  cursor: pointer;
}
.navBarButton:hover .navBarText {
  color: #fff;
  text-decoration: none;
}

.navBarText {
  color: var(--light-grey);
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 19px;
}

.periBanner {
  margin: 0;
  padding: 15vh 0 0 0;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
  box-shadow: 0px 0px 3px 3px var(--main-purple);
  width: 90%;
  height: 90%;
}

.greetingMessage {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainGreeting {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 80px;
  color: #ddd;
  margin: 6vh 0 3vh 0;
}

.greetingDisclaimer {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 32px;
  color: #ddd;
  text-align: center;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.fadesIn {
  animation: fadeIn 4s;
}

.introduction {
  margin: 0;
  padding: 0;
  height: 45vh;
  width: '100%';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introMessage {
  margin-top: -3vh;
  color: #eee;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}
.skillBlocksDiv {
  margin-top: -2vh;
  width: 80%; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.skillBlock {
  height: 28vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
}
.blockA {
  border: 3px solid #34e1f7;
}
.blockB {
  border: 3px solid #34f7ac;
}
.blockC {
  border: 3px solid #f73499;
}
.skillBlock h4 {
  color: #ddd;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: .1em;
  text-align: center;
  margin-bottom: 5px;
}
.skillBlock ul {
  margin-left: 0;
  padding-left: 0;
}
.skillBlock li {
  color: #ddd;
  list-style: none;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

/* Large+ Screens, Background Section */

#background {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backgroundHeader {
  width: 90%;
  background-color: var(--dark-grey);
  border: 2px solid var(--main-purple);
}
.backgroundHeader h2 {
  padding: 12px 0 12px 0;
  margin: 0;
  font-size: 68px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #eee;
}