:root {
  --main-purple: #b73deb;
  --light-grey: #c1c2c2;
  --medium-grey: #444648;
  --dark-grey: #102021;

  scroll-padding-top: 8vh;
  background-color: var(--medium-grey);
  border-bottom: 2px solid #34e1f7;
}

body {
  margin: 0;
}

/* Greetings Section */
.navBar {
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 95%;
  height: 5vh;
  background-color: var(--dark-grey);
  margin: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.navBarLink {
  text-decoration: none;
}

.navBarButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  padding: 0 8px;
}

.navBarButton:hover {
  cursor: pointer;
}

.navBarButton:hover .navBarText {
  color: #fff;
  text-decoration: none;
}

.navBarText {
  color: var(--light-grey);
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 14px;
}

.periBanner {
  margin: 0;
  padding: 5vh 0 0 0;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
  box-shadow: 0px 0px 3px 3px var(--main-purple);
  width: 90%;
  height: 90%;
}

.greetingMessage {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainGreeting {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #ddd;
  margin: 2vh 0 3vh 0;
  text-align: center;
}

.greetingDisclaimer {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  color: #ddd;
  text-align: center;
  padding: 0 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadesIn {
  animation: fadeIn 4s;
}

.introduction {
  margin: 0;
  padding: 0;
  width: '100%';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introMessage {
  margin-top: -.2vh;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
  color: #eee;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.skillBlocksDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topSkillBlocksDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillBlock {
  height: 18vh;
  width: 85%;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-grey);
  margin-bottom: 5px;
}

.blockA {
  border: 4px solid #34e1f7;
}

.blockB {
  border: 4px solid #34f7ac;
}

.blockC {
  border: 4px solid #f73499;
}

.skillBlock h4 {
  color: #ddd;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: .1em;
  text-align: center;
  margin-bottom: 0;
}

.skillBlock ul {
  margin-top: 8px;
  margin-left: 0;
  padding-left: 0;
}

.skillBlock li {
  color: #ddd;
  list-style: none;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

/* Background Section */

#background {
  margin-top: 3vh;
}

.backgroundContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.backgroundHeader {
  width: 90%;
  background-color: var(--dark-grey);
  border: 2px solid var(--main-purple);
}

.backgroundHeader h2 {
  padding: 10px 5px;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #eee;
}

.backgroundBlocksDiv {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.backgroundBlock {
  width: 85%;
  background-color: var(--dark-grey);
  border-width: 3px;
  border-style: solid;
  margin-top: 2vh;
  padding: 6px 2%;
}

.backgroundBlock p {
  color: #ddd;
  font-size: 14px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-align: center;
}

@media (min-width: 576px) {
  .topSkillBlocksDiv {
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  .skillBlock {
    height: 20vh;
    width: 40%;
  }
}

@media (min-width: 768px) {
  .skillBlocksDiv {
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .topSkillBlocksDiv {
    width: 55vw;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 7.5vw;
    gap: 0;
  }
  .skillBlock {
    height: 20vh;
    width: 25vw;
    margin: 0;
  }
  .blockA {
    margin-right: 7.5vw;
  }
}

@media (min-width: 992px) {
  :root {
    scroll-padding-top: 15vh;
  }

  /* Greetings Section */
  .navBar {
    height: 10vh;
  }

  .navBarButton {
    padding: 0 15px;
  }


  .navBarText {
    font-size: 19px;
  }

  .periBanner {
    padding: 15vh 0 0 0;
  }

  .greetingMessage {
    height: 35vh;
  }

  .mainGreeting {
    margin: 6vh 0 3vh 0;
    font-size: 80px;
  }

  .greetingDisclaimer {
    font-size: 32px;
  }

  .introduction {
    margin: 0;
    padding: 0;
    height: 45vh;
  }

  .introMessage {
    margin-top: -3vh;
    font-size: 50px;
  }

  .topSkillBlocksDiv {
    width: 52vw;
    justify-content: flex-start;
    margin-right: 4vw;
  }
  .blockA {
    margin-right: 4vw;;
  }
  .skillBlocksDiv {
    margin-top: -2vh;
    width: 80%;
    flex-direction: row;
    justify-content: center;
  }

  .skillBlock {
    height: 28vh;
    width: 24vw;
  }

  .skillBlock h4 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .skillBlock ul {
    margin-top: 15px;
  }

  .skillBlock li {
    font-size: 18px;
    margin-bottom: 10px;
  }

  /* Background Section */

  #background {
    margin-top: 5vh;
  }

  .backgroundHeader h2 {
    padding: 12px 0 12px 0;
    font-size: 68px;
  }

  .backgroundBlocksDiv {
    width: 90%;
  }

  .backgroundBlock {
    width: 75%;
    margin-top: 5vh;
  }

  .backgroundBlock p {
    font-size: 18px;
  }

  /* Samples Section */

  #samples {
    margin-top: 5vh;
  }

  .samplesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .samplesHeader {
    width: 90%;
    background-color: var(--dark-grey);
    border: 2px solid var(--main-purple);
  }

  .samplesHeader h2 {
    padding: 12px 0 12px 0;
    margin: 0;
    font-size: 68px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #eee;
  }

  .sampleBlocksDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .projectBlock {
    width: 30%;
  }

  .projectBlock h5 {
    color: #ddd;
    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: 600;
    margin: 5vh 0;
    letter-spacing: .1em;
    text-align: center;
  }

  .sampleBlock {
    width: 100%;
    height: 50vh;
    margin: 0 0 3vh 0;
    background-color: var(--dark-grey);
  }

  .samplesContent p {
    margin: 0 0 2vh 0;
    color: #eee;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
  }

  /* Progress Meter Project */

  .progressMeterBlock {
    border: 3px solid #34f7ac;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .progressMeterBlock h5 {
    margin: 0 0 20px 0;
    color: #ddd;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .progressMeterBlock h6 {
    margin: 0 0 10px 0;
    color: #ddd;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }

  .progressMeter {
    height: 60px;
    width: 70%;
    background-color: var(--light-grey);
    border: 3px solid #000;
  }

  .progress {
    height: 60px;
  }

  .colorSelector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 15px 0;
  }

  .colorButton {
    height: 40px;
    width: 40px;
  }

  .colorSelected {
    border: 1.5px solid #fff;
  }

  .colorUnselected {
    margin: 1.5px;
    border-style: none;
  }

  .progressMeterButtonsDiv {
    display: flex;
    flex-direction: row;
  }

  .progressMeterButton {
    color: #ddd;
    font-size: 44px;
    margin: 0 10px;
    padding: 5px;
  }

  .progressMeterButton:hover {
    cursor: pointer;
  }

  /* Search Bar Project */

  .searchBarBlock {
    border: 3px solid #f73499;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchBar {
    padding: 3px 5px;
    width: 90%;
  }

  .resultsDiv {
    height: 30%;
    width: 90%;
    overflow-y: auto;
  }
  .resultBlock {
    height: 33%;
    width: 100%;
    color: #ddd;
  }
  .resultBlock:hover {
    cursor: pointer;
  }
  .countryData {
    font-size: 14px;
  }
  p.countryData {
    font-size: 14px;
  }

  /* Calendar Project */

  .calendarBlock {
    border: 3px solid #f7ed34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .monthAndYear {
    font-size: 24px;
    color: #ddd;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
  }
  .weekDaysRow {
      display: flex;
      flex-direction: row;
      width: 70%;
      height: 8%;
      margin-bottom: 0;
  }
  .weekDay {
    height: 100%;
    width: 14.3%;
    color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
  }
  .grid {
    height: 48%;
    width: 70%;
  }
  .weekRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 16.6%;
    border: 1px solid white;
  }
  .dayBlock {
    height: 100%;
    width: 14.3%;
    border: 1px solid #ddd;
    color: #ddd;
  }
  .hidden {
    display: none;
  }

}