.greetingMessage {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -10vh;
}

.mainGreeting {
  margin-top: -6vh;
  margin-bottom: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 56px;
}

.greetingDisclaimer {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.fadesIn {
  animation: fadeIn 4s;
}